*.class
*.dll
*.project
*.classpath
*.dll
*.prefs
*.jar
.metadata

/SpringBootBasicProject/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/SpringBootBasicProject/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/SpringBootBasicProject/target/classes/META-INF/MANIFEST.MF
/SpringBootBasicProject/.settings/org.eclipse.wst.common.project.facet.core.xml
/SpringBootBasicProject/target/maven-archiver/pom.properties
/RestwithJersy/.settings/.jsdtscope
/RestwithJersy/.settings/org.eclipse.wst.common.component
/RestwithJersy/.settings/org.eclipse.wst.common.project.facet.core.xml
/RestwithJersy/.settings/org.eclipse.wst.jsdt.ui.superType.container
/RestwithJersy/.settings/org.eclipse.wst.jsdt.ui.superType.name
